<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :localization %>
    <%= form.text_field :localization %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.select("unit_id", Unit.all.collect {|p| [ p.description, p.id ] }, { include_blank: 'Select...' }) %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select("type_id", Type.all.collect {|p| [ p.function, p.id ] }, { include_blank: 'Selecione...' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
