<p id="notice"><%= notice %></p>
<main>
	<div class="container-fluid">
		<h1 class="mt-4"><%= @device.unit.description %></h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Device: <%= @device.description %></li>
		</ol>
		<div class="row">
			<div class="col-xl-3 col-md-6">
				<div class="card bg-primary text-white mb-4 text-center">
					<div class="card-body">
						<h5 class="card-title">Energy Today</h5>
						<!-- Take the energy used during the day and show to user-->
    					<h1 class="card-text" id="nowEnergy<%= @device.id %>"><%= "#{@device.measures.where('created_at BETWEEN ? AND ?', DateTime.now.beginning_of_day+30.second, DateTime.now.end_of_day+30.second).sum(:energy)} kWh"%></h1>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-warning text-white mb-4 text-center">
					<div class="card-body">
						<h5 class="card-title">Maximum Demand Today</h5>
					    <h1 class="card-text" id="maxDemand<%= @device.id %>"><%= "#{@device.measures.where('created_at BETWEEN ? AND ?', DateTime.now.beginning_of_day+30.second, DateTime.now.end_of_day+30.second).maximum(:power)} W"%></h1>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-success text-white mb-4 text-center">
					<div class="card-body">
						<h5 class="card-title">Last Voltage</h5>
					    <h1 class="card-text" id="nowVoltage<%=@device.id %>"><%= "#{@device.measures.last.voltage} V"%></h1>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-md-6">
				<div class="card bg-info text-white mb-4 text-center">
					<div class="card-body">
						<h5 class="card-title">Last Frequency</h5>
					    <h1 class="card-text" id="nowFrequency<%= @device.id %>"><%= "#{@device.measures.last.frequency} Hz" %></h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-area mr-1"></i>
						Energy Consumption in <%= @date_today %>
					</div>
          			<br>
					<%= column_chart "/energy_charts/by_day?device=#{@device.id}", energy_chart_config %>
					<div class="card-footer small text-muted" id="energy<%= @device.id %>"><%= @device.measures.last.updated_at.strftime("Updated on %d %b at %I:%M") %></div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-area mr-1"></i>
						Measured Demand in <%= @date_today %>
					</div>
          			<br>
					<%= column_chart "/power_charts/by_day?device=#{@device.id}", power_chart_config %>
					<div class="card-footer small text-muted" id="power<%= @device.id %>"><%= @device.measures.last.updated_at.strftime("Updated on %d %b at %I:%M") %></div>
				</div>
			</div>
		</div>
    <div class="input-group input-group-sm mb-3 justify-end justify-content-center">
      <div class="input-group-prepend" id="button-addon3">
        <input type="button" value="Today" class="btn btn-primary" onclick="by_day(<%= @device.id %>)"/>
        <input type="button" value="Week" class="btn btn-primary" onclick="by_week(<%= @device.id %>)"/>
        <input type="button" value="Month" class="btn btn-primary" onclick="by_month(<%= @device.id %>)"/>
        <input type="button" value="Year" class="btn btn-primary" onclick="by_year(<%= @device.id %>)"/>
        <input type="button" class="btn btn-outline-primary"/>  
        <input type="button" value="Show between" class="btn btn-primary" onclick="by_user(<%= @device.id %>)">
        <input type="text" id="start_date">
        <input type="button" value="to" class="btn btn-primary"/>
        <input type="text" id="end_date">
      </div>
    </div><br>
</div>
</main>