<p id="notice"><%= notice %></p>

<!--

<h1>Measures</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Voltage</th>
      <th>Current</th>
      <th>Power</th>
      <th>Energy</th>
      <th>Frequency</th>
      <th>PF</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.date %></td>
        <td><%= measure.voltage %></td>
        <td><%= measure.current %></td>
        <td><%= measure.power %></td>
        <td><%= measure.energy %></td>
        <td><%= measure.frequency %></td>
        <td><%= measure.pf %></td>
        <td><%= measure.device.description %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
-->



<%= link_to 'Download Measures' %>






